<h1> Places I've Been </h1>


<ul>
    <% for place in @places%>
        <p>
            <li>
                <a href="/places/<%= place["id"] %>"> <%= place["name"]%>
            </li> 
        </p>
    <% end %>
</ul>

<br><br>

<p>
  <a href="/places/new"> Add a new place </a>
</p>