<h1> Places I've Been </h1>

<p>
    <h4> Click on a location below to explore posts for that place. </h4>
</p>

<br>

<ul>
    <% for place in @places%>
        <p>
            <li>
                <a href="/places/<%= place["id"] %>"> <%= place["name"]%>
            </li> 
        </p>
    <% end %>
</ul>

<br><br>

<p>
  <a href="/places/new"> Add a new place </a>
</p>