<h1> Create a new place </h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", "Name of Place" %>
    <%= form.text_field "name" %>
  </p>
  <%= form.submit %>

    <p>
        <a href="/places"> Back to all places </a>
    </p>

<% end %>